.datePicker {
  width: 100%;
}

.datePicker input {
  width: 100%;
  padding: 16.5px 14px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
}

.datePicker input:hover {
  border-color: rgba(0, 0, 0, 0.87);
}

.datePicker input:focus {
  border-color: #1976d2;
  border-width: 2px;
  outline: none;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}
